<%= form_with(model: rental, local: true) do |form| %>
  <% if rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental.errors.count, "error") %> no se pudo guardar el arriendo:</h2>
      <ul>
        <% rental.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :machinery_id, "Maquinaria" %>
    <%= form.collection_select :machinery_id, Machinery.all, :id, :nombre, prompt: "Seleccione una maquinaria" %>
  </div>

  <div>
    <%= form.label :Fecha_inicio %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :Fecha_fin %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :metodo_de_pago %>
    <%= form.text_field :payment_method %>
  </div>

  <div>
    <%= form.label :descuento %>
    <%= form.number_field :discount, step: 0.01 %>
  </div>

  <div>
    <%= form.label :flete %>
    <%= form.number_field :freight, step: 0.01 %>
  </div>

  <div>
    <%= form.label :costo_total %>
    <%= form.number_field :total_amount, step: 0.01 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
