<h1>Arriendos</h1>

<%= link_to 'Nuevo arriendo', new_rental_path %>

<table>
  <thead>
    <tr>
      <th>Maquinaria</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.machinery.try(:nombre) %></td>
        <td><%= rental.start_date %></td>
        <td><%= rental.end_date %></td>
        <td><%= number_to_currency(rental.total_amount) %></td>
        <td><%= link_to 'Show', rental %></td>
        <td><%= link_to 'Delete', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
